{% extends 'base.html' %}
{% block title%}Question-{{index}}{% endblock %}
{% block content %}
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, msg in messages %}
    <p class="{{category}} my-0 bg-warning text-center fs-5 text-danger">{{msg}}</p>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form class="text-center fs-2 pt-5" action="/answer" method="POST">
    <p class="fs-2 ms-5 mt-5" id="question-{{index}}">{{question.question}}</p>
    {% for choice in choices %}
    <input type="radio" id="{{choice}}" name="choices" value="{{choice}}">
    <label for="{{choice}}">{{choice}}</label><br>
    {% endfor %}
    {% if allow_text %}
        <label for="{{choice}}-comments">Comments:</label><br>
        <textarea name="comments" id="{{choice}}-comments" cols="30" rows="10"></textarea>
        <br>
    {% endif %} 
    
    <button class="btn btn-primary btn-lg mt-5">Next</button>
</form>
{% endblock %}